.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include hero;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 5px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25);
        transition: all .5s .2s;

        @include respond(tab-port){
            width: 90%;
            height: auto;
            max-height: 85%;
            overflow: hidden;
        }
    }

    &__left {
        width: 33.333333%;
        height: auto;
        display: table-cell;
        vertical-align: middle;

        @include respond(tab-land){
            display: block;
            width: 100%;
            height: 20vh;
            overflow: hidden;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        overflow: auto;

        @include respond(tab-land){
            .heading-secondary, 
            .heading-tertiary {
                text-align: center;
            }

            display: block;
            width: 100%;
            max-height: 75vh;
            padding: 2rem 3.5rem;
        }

        @include respond(phone){
            padding: 2rem 2.8rem 5rem 2.8rem;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        
        @include respond(tab-land){
            display: block;
            width: 100%;
            height: 30rem;
            overflow: hidden;
            object-fit: cover;
            object-position: bottom ;

            &:last-child{
                display: none;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -webkit-column-count: 2;
        -webkit-column-gap: 4rem;
        -webkit-column-rule: 1px solid $color-grey-light-2;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        @include respond(tab-land){
            display: block;
            width: 100%;
            max-height: 40vh;
            height: auto;
            overflow-y: auto;

            margin-bottom: 2rem;
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}
